<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agriculture.dao.CropGrowthCycleTimeMapper">
    <!-- List<CropGrowthCycleTime> getCropGrowthCycleTime(@Param("speciesId") Integer speciesId,@Param("varietyId")  Integer varietyId); -->
    <select id="getCropGrowthCycleTime" resultType="com.agriculture.pojo.CropGrowthCycleTime">
        select * from crop_growth_cycle_time
        WHERE crop_growth_cycle_id =
        (select id from crop_growth_cycle WHERE crop_species_id = #{speciesId} AND crop_variety_id = #{varietyId})
    </select>

</mapper>