<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agriculture.dao.CropVarietyMapper" >
    <!--/**
        * 查询作物品种列表
        * @param
        * @return
        */
        List<CropVariety> getVarietyList();-->
    <select id="getVarietyList" resultType="com.agriculture.pojo.CropVariety">
        select * from crop_variety WHERE disabled = 0
    </select>

    <!-- List<CropVariety> getVarietyListBySpeciesId(@Param("SpeciesId") Integer SpeciesId); -->
    <select id="getVarietyListBySpeciesId" resultType="com.agriculture.pojo.CropVariety">
        select * from crop_variety WHERE disabled = 0 AND species = #{SpeciesId}
    </select>
</mapper>