<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agriculture.dao.FarmWorkMapper" >
    <select id="getAll" resultType="com.agriculture.pojo.FarmWork">
SELECT `parvialfield`.`name` AS parvialfieldname,`lot`.`name` AS lotname,`lot`.`id` AS lotid,
`farm_work`.`id`,
`crop_species`.`name` AS cropspeciesname,
`farm_work`.`name` ,
`agricultural`.`name` AS agriculturalname,
 `work_fertilizer`.`weight`AS weight,
`agricultural`.`unit_measurement` AS unitmeasurement,
`farm_work`.`finish_time` AS finishTime,
`farm_work`.`text`,
`farm_work`.`result`
FROM `parvialfield`,`lot`,`farm_work`,`agricultural`,`work`,`work_fertilizer`,`crop_species`
WHERE `parvialfield`.`id`=#{id}
AND `parvialfield`.`id`=`lot`.`ssfc`
AND `lot`.`zwzl`=`crop_species`.`id`
AND `lot`.`id`=`farm_work`.`lot_id`
AND `farm_work`.`work_id`=`work`.`work_id`
AND `work_fertilizer`.`farm_work_id`=`work`.`work_id`
AND `work_fertilizer`.`id`=`agricultural`.`id`
    </select>



    <select id="getxq" resultType="com.agriculture.pojo.FarmWork">
SELECT `parvialfield`.`name` AS parvialfieldname,`lot`.`name` AS lotname,
`farm_work`.`id`,
`crop_species`.`name` AS cropspeciesname,
`farm_work`.`name` ,
`agricultural`.`name` AS agriculturalname,
 `work_fertilizer`.`weight`AS weight,
`agricultural`.`unit_measurement` AS unitmeasurement,
`farm_work`.`finish_time` AS finishTime,
`farm_work`.`text`,
`farm_work`.`result`
FROM `parvialfield`,`lot`,`farm_work`,`agricultural`,`work`,`work_fertilizer`,`crop_species`
WHERE `parvialfield`.`id`=#{id}
AND `lot`.id=#{lotid}
AND `parvialfield`.`id`=`lot`.`ssfc`
AND `lot`.`zwzl`=`crop_species`.`id`
AND `lot`.`id`=`farm_work`.`lot_id`
AND `farm_work`.`work_id`=`work`.`work_id`
AND `work_fertilizer`.`farm_work_id`=`work`.`work_id`
AND `work_fertilizer`.`id`=`agricultural`.`id`
    </select>
    <!--List<FarmWork> FindFarm();-->
    <select id="FindFarm" resultType="com.agriculture.pojo.FarmWork">
       SELECT *
        FROM farm_work fa,sec_user us,`work` wo
        WHERE fa.disabled=0 AND us.disabled=0 and us.id=fa.user_id AND wo.work_id=fa.work_id
    </select>
    <!--FarmWork FindFarmId(@Param("id")Integer id);-->
    <select id="FindFarmId" resultType="com.agriculture.pojo.FarmWork">
       SELECT *
        FROM farm_work fa,sec_user us
        WHERE fa.disabled=0 AND us.disabled=0 AND us.id=fa.user_id AND fa.id=#{id}
    </select>
    <!--int addFarm(FarmWork FarmWork);-->
    <insert id="addFarm" parameterType="com.agriculture.pojo.FarmWork">
        INSERT into farm_work (createtime,user_id,name)
        VALUES (now(),#{id},#{name})
    </insert>
    <!--int UpdateFarm(FarmWork FarmWork);-->
    <update id="UpdateFarm" parameterType="com.agriculture.pojo.FarmWork">
        UPDATE farm_work
        SET name=#{name}
        WHERE id=#{id}
    </update>
    <!--int deleteFarm(@Param("id")Integer id);-->
    <update id="deleteFarm" parameterType="com.agriculture.pojo.FarmWork">
        UPDATE farm_work
        SET disabled=1
        WHERE id=#{id}
    </update>
</mapper>