<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agriculture.dao.SecRoleMapper" >
    <!-- List<SecRole> findRole(); -->
    <select id="findRole" resultType="com.agriculture.pojo.SecRole">
        select * from sec_role
    </select>
    <!--List<SecRole> findRoleEnter();-->
    <select id="findRoleEnter" resultType="com.agriculture.pojo.SecRole">
        select a.*,b.role_name as createname,en.*
        from (sec_role a left join sec_role b on a.create_user=b.id)
        LEFT JOIN enterprise en ON en.id=a.enterprise_id
        WHERE 1=1 and a.disabled=0
    </select>
    <!--SecRole findRoleEnterId(@Param("id")Integer id);-->
    <select id="findRoleId" resultType="com.agriculture.pojo.SecRole">
        select a.*,b.role_name as createname,en.*
        from (sec_role a left join sec_role b on a.create_user=b.id)
        LEFT JOIN enterprise en ON en.id=a.enterprise_id
        WHERE a.id=#{id} AND a.disabled = 0
    </select>
    <!--int addRole(SecRole SecRole);-->
    <insert id="addRole" parameterType="com.agriculture.pojo.SecRole">
       INSERT INTO sec_role (role_name,enterprise_id,role_type,role_bz,createtime,create_user)
        VALUES (#{roleName},#{enterpriseId},#{roleType},#{roleBz},now(),#{createUser})
    </insert>
    <!-- int upRoleId(SecRole SecRole);-->
    <update id="upRoleId" parameterType="com.agriculture.pojo.SecRole">
        update
			sec_role
		set
			role_name=#{roleName},enterprise_id=#{enterpriseId},role_type=#{roleType},role_bz=#{roleBz}
		where
			id=#{id}
    </update>
    <!--int deleteRoleId(@Param("id")Integer id);-->
    <update id="deleteRoleId" parameterType="com.agriculture.pojo.SecRole">
         UPDATE sec_role SET disabled = 1 WHERE id = #{id}
    </update>
</mapper>