<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agriculture.dao.TemplateMapper" >
    <!-- List<Template> findTemplate(@Param("info") OrderPageInfo pageInfo); -->
    <select id="findTemplate" parameterType="com.agriculture.pojo.OrderPageInfo" resultType="com.agriculture.pojo.Template">
        select template.*,crop_variety.name AS categoryName,crop_species.name AS varietyName from template
        LEFT JOIN crop_species on template.category = crop_species.id
        LEFT JOIN crop_variety on template.variety = crop_variety.id
        WHERE 1=1
        <if test="info.name != null and info.name != ''">
            and name like CONCAT('%',#{info.name },'%')
        </if>
        <if test="info.category != null and info.category != ''">
            and category = #{info.category}
        </if>
        <if test="info.variety != null and info.variety != ''">
            and variety = #{info.variety}
        </if>
    </select>

    <!-- Template findTemplateById(Integer templateId); -->
    <select id="findTemplateById" resultType="com.agriculture.pojo.Template">
        select * from template as t
        left join template_plan as tp on t.id =tp. template_id
        LEFT JOIN template_plan_agricultural as tpa ON tp.id = tpa.plan_id
        WHERE t.id= #{templateId}
    </select>

    <!-- int deleteTemplate(Integer templateId); -->
    <update id="deleteTemplate">
        update template set disabled = 1 where id = #{templateId}
    </update>
</mapper>